<body class="light-mode">
  

<header>
  <div class="container-full clearfix">
    <div class="logo">
      <h1><a href='/'>Devang Patel</a></h1>
    </div>
    

    <div class="top-right">
      <!--
        <a href="https://twitter.com/p_devang" class="soc-link" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/twt.svg" width="20" alt="">
        </a>
        <a href="https://www.linkedin.com/in/devang-patel-055b9b113/" class="soc-link" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/linkedin.svg" width="20" alt="">
        </a>
        <a href="https://dribbble.com/mycreativeway" class="soc-link" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/dribbble.svg" width="20" alt="">
        </a>
        <a href="mailto:contact@devangdesign.com" class="soc-link">
            <img src="{{ site.baseurl }}/assets/images/mail.svg" width="22" alt="">
        </a>-->
        <nav>
          <ul class="clearfix">
            <li {% if page.url == '/' %} class="active"{% endif %}><a href='{{ site.baseurl }}/'>Work</a></li>
            <li {% if page.url == '/lab.html' %} class="active"{% endif %}><a href="{{ site.baseurl }}/lab">Lab</a></li>
            <li {% if page.url == '/about.html' %} class="active"{% endif %}><a href="{{ site.baseurl }}/about">About</a></li>
          </ul>
        </nav>  
    </div>


  </div>
</header>

<div class="modes">
  <span class="day active">
    <img src="{{ site.baseurl }}/assets/images/sun.svg" alt="">
  </span>
  <span class="night">
    <img src="{{ site.baseurl }}/assets/images/moon.svg" alt="">
  </span>
</div>