
<title>{{page.title}}</title>
<meta name="description" content="{{page.description}}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png" />
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<!--
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,800" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Serif+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/site.css" />


