.hero {
    min-height: 300px;
    padding: 100px 0;
    position: relative;
}

.content {
    margin: 200px 0 0 0;
}

.project-hero,
.page-hero {
    position: relative;
    margin-bottom: 40px;
}

.card-shadow,
.full-img {
}

.caption {
    opacity: 0.65;
    font-style: italic;
    text-align: center;
    display: block;
    padding: 4px 8px;
}

.project-cover {
    height: 600px;
    overflow: hidden;
    position: relative;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
