footer {
  padding: 20px 0;
  text-align: center;
  position: relative;
  z-index: 2;

    p {
      font-size: 14px;
      background: transparent;
      color:black;
    }
    span {
      color:#ff3b4b;
    }
}
