body {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.vlign-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.vlign-cell {
    display: table-cell;
    vertical-align: middle;

    &.bottom {
        vertical-align: bottom;
    }
}

.invisible {
    opacity: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.site-background,
.preloader {
    position: fixed;
    top: 0;
    height: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: white;
    background: repeating-linear-gradient(50deg, #ffffff, #ffffff 200px, #eaeaea 201px);
    background: -moz-repeating-linear-gradient(50deg, #ffffff, #ffffff 200px, #eaeaea 201px);
    background: -webkit-repeating-linear-gradient(50deg, #ffffff, #ffffff 200px, #eaeaea 201px);
    background: -o-repeating-linear-gradient(50deg, #ffffff, #ffffff 200px, #eaeaea 201px);
    background-position: center !important;
    background-repeat: no-repeat !important;
}


.preloader {
    position: fixed;
    top: 0;
    height: 0;
    height: 100%;
    width: 100%;
    z-index: 555;
    text-align: center;

    h6 {
        text-align: center;
        position: absolute;
        top:50%;
        width:100%;
        font-size: 30px;
        span {
            display: inline-block;
            color:black;
        }
    }
}

.container-full {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.container,
.container-small {
    width: 100%;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}

.col-2 {
    width: 50%;
    float: left;
}
pre.highlight, .highlighter-rouge pre.highlight, .highlight>pre, .highlighter-rouge .highlight>pre {
    padding: 10px 0.5em;
}

.highlighter-rouge .highlight {
    margin: 0;
}
.highlight, .highlighter-rouge .highlight {
    margin: 1em 0;
    width: 100%;
    overflow: auto;
}

pre, code {
    font-size: 16px;
}
pre {
    overflow: auto;
}
pre, code span {
    white-space: pre;
    display: inline-block;
    margin: 0;
    font: 14px/1.625em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
}
figure {
    margin:0;
}