@media (max-width: 1700px) {
  .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .container-small {
    max-width: 800px;
  }
}
@media (max-width: 1500px) {
}
@media (max-width: 1400px) {
  .col-2:nth-child(odd),
  .grid-item:nth-child(odd) {
    padding-right: 20px;
  }

  .col-2:nth-child(even),
  .grid-item:nth-child(even) {
    padding-left: 20px;
  }

  .container {
    max-width: 1100px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1250px) {

  .col-2:nth-child(odd),
  .grid-item:nth-child(odd) {
    padding-right: 20px;
  }

  .col-2:nth-child(even),
  .grid-item:nth-child(even) {
    padding-left: 20px;
  }

  .col-2,
  .grid-item {
    padding-bottom: 100px;
  }

  .project-info p {
  }

  .thumb-intellichill img,
  .thumb-ker-webshop img,
  .thumb-ripple-bugs img {
    width: 80%;
  }

  .page-content-text p {
    margin-bottom: 70px;
  }

  .page-content-text p {
    margin-bottom: 40px;
  }
}
@media (max-width: 1000px) {
  .hero .hero-content h1 > span {
    display: inline-block;
    overflow: hidden;
    line-height: 37px;
  }

  h1 {
    font-size: 30px;
    line-height: 42px;
  }

  h4 {
    font-size: 22px;
    font-weight: 800;
  }
}
@media (max-width: 780px) {
  .lab-item {
    width:100%;
    margin-bottom: 40px;
  }
  .lab-list-wrapper {
      display: block;
      margin-bottom: 0;
  }
  
  .hero-content br {
    display: none;
  }
  h3 {
    font-size: 28px;
    margin-bottom: 4px;
}
  .hero {
    height: 500px;
  }
  .hero .hero-content h1 > span,
  .hero .hero-content h1 > span span {
    display: inline;
  }

  .thumb-newsdeck {
    height: 440px;
  }

  .container,
  .container-small {
    padding-left: 40px;
    padding-right: 40px;
  }

  .col-2,
  .grid-item {
    padding-bottom: 70px;
  }

  header {
    padding: 12px 0;
  }
  
  .floating-articles {
    display: none;
  }

  .col-2,
  .grid-item {
    width: 100%;
  }

  .mobile-menu {
    display: none !important;
  }

  .col-2:nth-child(even),
  .col-2:nth-child(odd),
  .grid-item:nth-child(even),
  .grid-item:nth-child(odd) {
    padding-right: 0;
    padding-left: 0;
  }

  .mobile-menu-btn {
    float: right;
    display: block !important;
    width: 42px;
    height: 37px;
    position: relative;
    cursor: pointer;

    .icon {
      width: 100%;
      display: block;
      margin: 0 auto;
      top: 50%;
      position: relative;
      @include transform(translateY(-50%));
    }

    &.open {
      cursor: pointer;

      .icon .top {
        @include transform(translateY(10px) rotateZ(45deg) skewX(38deg));
      }

      .icon .bottom {
        @include transform(translateY(-10px) rotateZ(-45deg) skewX(-38deg));
      }

      .icon .middle {
        width: 0;
      }
    }

    .middle {
      margin: 0 auto;
    }

    .bar {
      @include transition(all 0.7s ease);
    }
  }

  .project-stats .col,
  .project-info {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    text-align: left !important;
  }
  .grid-item a {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
  }
  .project-info {
    margin:0;
  }
  .project-image {
    margin-bottom: 16px;
  }
  .content {
      margin: 120px 0 0 0;
  }
}
@media (max-width: 500px) {
  .container,
  .container-small,
  .container-full {
    padding-left: 16px;
    padding-right: 16px;
  }


  li,
  p {
    font-size: 16px;
    line-height: 24px;
  }

  .col-2,
  .grid-item {
    padding-bottom: 80px;
  }


}
