h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading_font_weight;
  font-family: $heading_fonts;
  margin: 0;
  padding: 0;

  a {
    display: inline-block;
    text-decoration: none;
  }

  strong,
  span {
    font-weight: bold;
  }
}

h1 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 40px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 34px;
  margin-bottom: 16px;
}

h4 {
  font-weight: 600;
  font-size: 30px;
}

h5 {
  font-size: 26px;
  margin-bottom: 18px;
}

h6 {
  font-size: 22px;
}


.nav a,
.logo h1 a {
  font-family: $para_fonts;
}



p,
span,
li {
  font-family: $para_fonts;
  font-weight: $para_font_weights;
  margin: 0;

  strong {
    font-weight: 800;
    letter-spacing: 1.5px;
  }
}

p {
  line-height: 32px;
  font-size: 20px;
}
a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}