$color_links: #ff3b4b;
$color_headings: #1a1a1a;
$color_paragraph:#3e3e3e;

// Light theme
$light_body_bg: #fdfaf9;
$light_headings_color: #5b306d;
$light_paragraph_color:#755184;

// Dark theme
$dark_body_bg: #2c003e;
$dark_headings_color: #ffc6a7;
$dark_paragraph_color:#ea9085	;