$color_links: #ff3b4b;
$color_headings: #1a1a1a;
$color_paragraph:#3e3e3e;

// Light theme
$light_body_bg: #e8f1f5;
$light_headings_color: #005691;
$light_paragraph_color:#004a7c;

// Dark theme
$dark_body_bg: #2c003e;
$dark_headings_color: #ffa372;
$dark_paragraph_color:#ea9085	;